.navigation {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
}

.navigation__logo {
	height: 101px;
	align-content: center;
}

.navigation__logo-title {
	font-size: 25px;
	color: #343c6a;
}

.navigation__item {
	margin: 0;
	padding: 0;
}
