@font-face {
	font-family: 'Inter';
	src: url('shared/assets/fonts/Inter/Inter-VariableFont.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Mont';
	src: url('shared/assets/fonts/Mont/Mont-HeavyDEMO.otf');
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('shared/assets/fonts/Lato/Lato-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter;
}

:root {
	width: 1440px;
	margin: 0 auto;
	background-color: #f5f7fa;
}
